body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image:url(../img/fond.png);
    background-position: center;
    background-size: cover;
}

/* Page d'accueil */
#commencerlapartie{
    background-color: wheat;
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
#newgame{
    background-color:chocolate;
    font-size: large;
}

#Arene{
    height: 95vh;
    width: 100vw;
    display: flex;
}
.joueur1,.joueur2{
    height: 94vh ;
    width: 50vw;
    border:0.2rem solid black;
}
.haut,.haut2{
    height: 70vh;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personnage{
    height: 24vh;
    width: 49vw;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.Guerrier{
    background-color:#8A4B25;
    background-image:url(../img/guerrier.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1rem solid black;
    height: 25vh;
    width: 10vw;
    transition: 1s ease;
}
.Mage{
    background-color: #8A4B25;
    background-image: url(../img/mage.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1rem solid black;
    height: 25vh;
    width: 10vw;
    transition: 1s ease;
}
.Pretre{
    background-color: #8A4B25;
    background-image: url(../img/pretre.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1rem solid black;
    height: 25vh;
    width: 10vw;
    transition: 1s ease;   
}
.Archer{
    background-color: #8A4B25;
    background-image: url(../img/Archer.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1rem solid black;
    height: 25vh;
    width: 10vw;
    transition: 1s ease;
    
}

.Guerrier:hover,.Mage:hover,.Pretre:hover,.Archer:hover{
    width: 75%; 
    font-size:200%;
}

.nom{
    font-size:1.5em;
    font-weight: bold;
    position: relative;
    top: 30%;
    color: wheat;
}

.attaque{
    height: 3vh;
    display: flex;
    align-items: center;
}
.defense{
    height: 3vh;
    display: flex;
    align-items: center;
}
.capspe{
    height: 3vh;
    display: flex;
    align-items: center;
}
#grise{
    filter: grayscale(100%);
}

/* zone de combat */
#zonedecombat{
    height: 100vh;
    width: 100vw;
    display: none;
    background-image: url(../img/ring3.png);
    background-position: center ;
    background-size: cover;
}

#ring{
    height: 98vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: end;
}
#J1{
    width: 40vw;
}
#J2{
    width: 40vw;
}


.P1{
    height: 70vh;
    display: flex;
    justify-content: center;
}
.P2{
    height: 70vh;
    display: flex;
    justify-content: center; 
}

button{
    height: 5vh;
    width: 10vw;
    border-radius: 50%;
}

.vie1,.vie2{
    background-color: red;
    height: 2vh;
    width: 100%;
}

.manette,.manette2{
    margin-top: 2vh;
    display: flex;
    justify-content: space-around;
}

#attaquer1,#attaquer2{
    background-color:blue;
    font-size: x-large;
}
#defense1,#defense2{
    background-color: red ;
    font-size: x-large;
}
#capacitespe1,#capacitespe2{
    background-color: green;
    font-size: x-large;
}